<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Writer/Index" aria-expanded="false">
                        <i class="fas fa-home"></i><span class="ms-2">Panel</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Writer/Profile" aria-expanded="false">
                        <i class="fas fa-user"></i><span class="ms-2">Profil</span>
                    </a>
                </li>

                <!-- İstersen buraya başka menü maddeleri ekleyebilirsin -->

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
